<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>blog</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="custom-card" *ngFor="let blog of pageBlog" >
    <img [src]="blog.source" alt="" (click)="modalDetalle(blog.id)">
    <ion-card-content>
      <ion-card-title [innerHTML]="blog.title.rendered"></ion-card-title>
      <p [innerHTML]="blog.excerpt.rendered"></p>
      <ion-fab class="share" buttom left edge #fab1>
        <button ion-fab mini><ion-icon name="share"></ion-icon></button>
        <ion-fab-list class="share" side="right">
          <button ion-fab (click)="openSocial('facebook',blog, blog.source, fab1)"><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab (click)="openSocial('twitter',blog, blog.source, fab1)"><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab (click)="openSocial('whatsapp',blog, blog.source, fab1)"><ion-icon name="logo-whatsapp"></ion-icon></button>
          <button ion-fab (click)="openSocial('googleplus',blog, blog.source, fab1)"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
    </ion-card>
    <ion-fab bottom right>
      <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
    </ion-fab>
</ion-content>
