page-blog {
  .custom-card{
    margin-bottom: 4rem;
  }
  ion-fab.share, ion-fab-list.share{
    position: initial !important;
  }
  ion-fab-list.share{
    position: relative !important;
    margin-right: -2rem;
    top: -5.5rem;
  }
  ion-title{
    font-size: 2rem;
  }
}
