<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="cerrar()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div >
    <img [src]="postDetalle.source" alt="">
    <p [innerHTML]="postDetalle.descripcion | safe: 'html'"></p>
  </div>
</ion-content>
