<ion-header>

  <ion-navbar>
    <ion-title><h3 [innerHTML]="titulo"></h3></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="custom-card" *ngFor="let detalle of detalleRutas">
    <img [src]="detalle.source"/>
    <ion-card-content>
      <p [innerHTML]="detalle.content.rendered | safe: 'html'"></p>
      <ion-fab class="share" buttom left edge #fab1>
        <button ion-fab mini><ion-icon name="share"></ion-icon></button>
        <ion-fab-list class="share" side="right">
          <button ion-fab (click)="openSocial('facebook',detalle, detalle.source, fab1)"><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab (click)="openSocial('twitter',detalle, detalle.source, fab1)"><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab (click)="openSocial('whatsapp',detalle, detalle.source, fab1)"><ion-icon name="logo-whatsapp"></ion-icon></button>
          <button ion-fab (click)="openSocial('googleplus',detalle, detalle.source, fab1)"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
</ion-content>
