<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MaletaReady</ion-title>
    <ion-buttons end padding-right>
        <button ion-button (click)="sendeEmail()">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img #america src="assets/images/America.png" name="58" (click)="openPages(america.name,'America')" />
        <h4 ion-text>Guia America</h4>
      </ion-col>
      <ion-col>
        <img #europa src="assets/images/Europe.png" name="60" (click)="openPages(europa.name, 'Europa')" />
        <h4 ion-text>Guia Europa</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img #africa src="assets/imgs/Africa.png" name="234" (click)="openPages(africa.name, 'Africa')" />
          <h4 ion-text>Guia Africa</h4>
      </ion-col>
      <ion-col>
          <img #asia src="assets/images/Asia.png" name="57" (click)="openPages(asia.name, 'Asia')" />
          <h4 ion-text>Guia Asia</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img #oceania src="assets/images/Oceania.png" name="284" (click)="openPages(oceania.name, 'Oceania')" />
          <h4 ion-text>Guia Oceania</h4>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
