<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MaletaReady</ion-title>
      <ion-buttons end padding-right>
        <button ion-button (click)="sendeEmail()">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item  *ngFor="let page of pages" (click)="openPages(page)">
        {{page.title}}
      </button>
      <ion-item>
        <ion-label>Tienda</ion-label>
        <ion-select interface="popover" (ionChange)="openTienda($event)">
          <ion-option menuClose [value]="tienda.valor" *ngFor="let tienda of tiendas">{{tienda.valor}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

