<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mochilas</ion-title>
  </ion-navbar>

</ion-header>
<<<<<<< HEAD
<ion-content padding>
  <ion-card class="custom-card" *ngFor="let mochila of pagesMochila">
    <img [src]="mochila.source" alt="">
    <ion-card-content>
      <ion-card-title [innerHTML]="mochila.title.rendered"></ion-card-title>
      <p [innerHTML]="mochila.excerpt.rendered"></p>
      <ion-fab class="share" buttom left edge #fab1>
        <button ion-fab mini><ion-icon name="share"></ion-icon></button>
        <ion-fab-list class="share" side="right">
          <button ion-fab (click)="openSocial('facebook',detalle, detalle.source, fab1)"><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab (click)="openSocial('twitter',detalle, detalle.source, fab1)"><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab (click)="openSocial('whatsapp',detalle, detalle.source, fab1)"><ion-icon name="logo-whatsapp"></ion-icon></button>
          <button ion-fab (click)="openSocial('googleplus',detalle, detalle.source, fab1)"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
    </ion-card>
    <ion-fab bottom right>
      <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
    </ion-fab>
=======


<ion-content>
  <ion-card class="custom-card" *ngFor="let mochila of mochilas">
    <img [src]="mochila.source" />
    <ion-card-content>
      <p [innerHTML]="mochila.content.rendered | safe: 'html'"></p>
      <ion-fab class="share" buttom left edge #fab1>
        <button ion-fab mini>
          <ion-icon name="share"></ion-icon>
        </button>
        <ion-fab-list class="share" side="right">
          <button ion-fab (click)="openSocial('facebook',mochila, mochila.source, fab1)">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button ion-fab (click)="openSocial('twitter',mochila, mochila.source, fab1)">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
          <button ion-fab (click)="openSocial('whatsapp',mochila, mochila.source, fab1)">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </button>
          <button ion-fab (click)="openSocial('googleplus',mochila, mochila.source, fab1)">
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
>>>>>>> dvelop
</ion-content>
