<ion-header>

  <ion-navbar>
    <ion-title>Guia de Rutas por {{titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let ruta  of rutas" (click)="openDetalle(ruta.tags, ruta.title.rendered)">
      <ion-thumbnail item-start>
        <img [src]="ruta.source">
      </ion-thumbnail>
      <h2 [innerHTML]="ruta.title.rendered"></h2>
      <p></p>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
</ion-content>
